<div class="searchList">
    <div id="searchResultsContainer">
        {%for i in range(0, Pokemons|length)%}
            <section class="pokemonCard">    
                <div class="avatarContainer">
                    <img class="pokemonAvatar" src="{{ Pokemons[i]['imageUrl'] }}" />
                </div>
                <h1 class="pokemonName">
                    <a href="/pokemon/{{ Pokemons[i]['name'] }}">{{ Pokemons[i]['name'] }}</a>
                </h1>
                <div class="caractLinkContainer">
                    <a class="caractLink" href="/pokemon/{{ Pokemons[i]['name'] }}">Voir ses caractéristiques</a>
                </div>
            </section>
        {%endfor%}
        </div>
</div>